In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

from matplotlib import rc  
rc('font', family='AppleGothic') 
plt.rcParams['axes.unicode_minus'] = False

In [26]:
df = pd.read_csv('medical_appointments_brazil.csv')
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

In [27]:
df.shape

(110527, 14)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       110527 non-null  float64
 1   AppointmentID   110527 non-null  int64
 2   Gender          110527 non-null  object
 3   ScheduledDay    110527 non-null  object
 4   AppointmentDay  110527 non-null  object
 5   Age             110527 non-null  int64
 6   Neighbourhood   110527 non-null  object
 7   Scholarship     110527 non-null  int64
 8   Hipertension    110527 non-null  int64
 9   Diabetes        110527 non-null  int64
 10  Alcoholism      110527 non-null  int64
 11  Handcap         110527 non-null  int64
 12  SMS_received    110527 non-null  int64
 13  No-show         110527 non-null  object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

### 컬럼 설명
|    컬럼명    |  데이터 타입  |                         설명                         |
|:------------:|:-------------:|:----------------------------------------------------:|
| PatientId    |   float64     | 환자 고유 식별자 (정수형 ID로 간주)                   |
| AppointmentID|   int64       | 예약 고유 식별자                                     |
| Gender       |   object      | 환자 성별 ('F': 여성, 'M': 남성)                     |
| ScheduledDay |   object      | 병원 예약을 신청한 날짜                              |
| AppointmentDay|  object      | 실제 병원 예약일 (방문일)                            |
| Age          |   int64       | 환자의 나이                                          |
| Neighbourhood|   object      | 진료가 이루어지는 병원의 위치                                      |
| Scholarship  |   int64       | 정부 복지 수혜 여부 (1: 수혜자, 0: 비수혜자)         |
| Hipertension |   int64       | 고혈압 여부 (1: 있음, 0: 없음)                       |
| Diabetes     |   int64       | 당뇨 여부 (1: 있음, 0: 없음)                         |
| Alcoholism   |   int64       | 알코올 중독 여부 (1: 있음, 0: 없음)                  |
| Handcap      |   int64       | 장애 여부 (0: 없음, 1~4: 장애 단계)                  |
| SMS_received |   int64       | 문자 알림 수신 여부 (1: 수신, 0: 미수신)              |
| No-show      |   object      | 예약 이행 여부 ('No': 방문, 'Yes': 노쇼)             |

---

In [29]:
# 환자번호 정수형으로 변환
df['PatientId'] = df['PatientId'].astype('int64')

# 나이가 0보다 작은 행 제거
df = df[df['Age'] >= 0].reset_index(drop=True)

# datetime으로 변경 후, 시간 정보가 00:00:00으로 고정되어 있으므로 시간 정보 무시
df['ScheduledDay'] = pd.to_datetime(df['ScheduledDay']).dt.date.astype('datetime64[ns]')
df['AppointmentDay'] = pd.to_datetime(df['AppointmentDay']).dt.date.astype('datetime64[ns]')

# 오타 정리
df = df.rename(columns={'Hipertension': 'Hypertension', 'Handcap': 'Handicap', 'SMS_received': 'SMSReceived', 'No-show': 'NoShow'})

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110526 entries, 0 to 110525
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       110526 non-null  int64
 1   AppointmentID   110526 non-null  int64
 2   Gender          110526 non-null  object
 3   ScheduledDay    110526 non-null  datetime64[ns]
 4   AppointmentDay  110526 non-null  datetime64[ns]
 5   Age             110526 non-null  int64
 6   Neighbourhood   110526 non-null  object
 7   Scholarship     110526 non-null  int64
 8   Hypertension    110526 non-null  int64
 9   Diabetes        110526 non-null  int64
 10  Alcoholism      110526 non-null  int64
 11  Handicap        110526 non-null  int64
 12  SMSReceived     110526 non-null  int64
 13  NoShow          110526 non-null  object
dtypes: datetime64[ns](2), int64(9), object(3)
memory usage: 11.8+ MB

In [31]:
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMSReceived,NoShow
0,29872499824296,5642903,F,2016-04-29,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,558997776694438,5642503,M,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4262962299951,5642549,F,2016-04-29,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,867951213174,5642828,F,2016-04-29,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8841186448183,5642494,F,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,0,No

---

## 파생변수 생성

1. `WaitingDays` : 진료일까지 얼마나 남았는지 (예약일과 진료일 간의 차이)

2. `AgeGroup` : 연령대 구간

3. `ScheduledWeekday` : 예약일 요일 정보

4. `AppointmentWeekday` : 진료일 요일 정보 

5. `IsSameday` : 당일 예약 여부 (예약일 = 진료일)

6. `HealthRiskScore` :  건강 상태 통합 점수 (`Hypertension` + `Diabetes` + `Alcoholism` + `Handicap`)

In [34]:
# 1. WaitingDays
df['WaitingDays'] = df['AppointmentDay'] - df['ScheduledDay']
df['WaitingDays'] = df['WaitingDays'].dt.days

# WaitingDays가 0보다 작은 경우 drop
df = df[df['WaitingDays'] >= 0].reset_index(drop=True)

# 2. AgeGroup
age_bins = list(range(0, 101, 10)) + [150]
age_labels = [f'{i}-{i+9}' for i in range(0, 100, 10)] + ['100+']
df['AgeGroup'] = pd.cut(df['Age'], bins=age_bins, labels=age_labels, right=False)

# 3. ScheduledWeekday
df['ScheduledWeekday'] = df['ScheduledDay'].dt.day_name()

# 4. AppointmentWeekday
df['AppointmentWeekday'] = df['AppointmentDay'].dt.day_name()

# 5. IsSameday
df['IsSameday'] = (df['WaitingDays'] == 0).astype(int)

# 6. HealthRiskScore
heath_cols = ['Hypertension', 'Diabetes', 'Alcoholism', 'Handicap']
df['HealthRiskScore'] = df[heath_cols].sum(axis=1)

In [35]:
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMSReceived,NoShow,WaitingDays,AgeGroup,ScheduledWeekday,AppointmentWeekday,IsSameday,HealthRiskScore
0,29872499824296,5642903,F,2016-04-29,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,No,0,60-69,Friday,Friday,1,1
1,558997776694438,5642503,M,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,0,No,0,50-59,Friday,Friday,1,0
2,4262962299951,5642549,F,2016-04-29,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,0,No,0,60-69,Friday,Friday,1,0
3,867951213174,5642828,F,2016-04-29,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No,0,0-9,Friday,Friday,1,0
4,8841186448183,5642494,F,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,0,No,0,50-59,Friday,Friday,1,2

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110521 entries, 0 to 110520
Data columns (total 20 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   PatientId           110521 non-null  int64
 1   AppointmentID       110521 non-null  int64
 2   Gender              110521 non-null  object
 3   ScheduledDay        110521 non-null  datetime64[ns]
 4   AppointmentDay      110521 non-null  datetime64[ns]
 5   Age                 110521 non-null  int64
 6   Neighbourhood       110521 non-null  object
 7   Scholarship         110521 non-null  int64
 8   Hypertension        110521 non-null  int64
 9   Diabetes            110521 non-null  int64
 10  Alcoholism          110521 non-null  int64
 11  Handicap            110521 non-null  int64
 12  SMSReceived         110521 non-null  int64
 13  NoShow              110521 non-null  object
 14  WaitingDays         110521 non-null  int64
 15  AgeGroup            110521 non-null  category
 16  ScheduledWeekday    110521 non-null  object
 17  AppointmentWeekday  110521 non-null  object
 18  IsSameday           110521 non-null  int64
 19  HealthRiskScore     110521 non-null  int64
dtypes: category(1), datetime64[ns](2), int64(12), object(5)
memory usage: 16.1+ MB

In [38]:
df.shape

(110521, 20)